<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>게시판 - 테이블</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="wrap">
            헤더
        </div>
    </header>
    
    <div class="container">
        <div class="wrap">
            <main>
                <!-- BOARD TABLE -->
                <table class="board-normal introduce-notice-board">
                    <caption>
                        새소식(번호, 제목, 작성일, 조회수, 파일)
                    </caption>
                    <colgroup>
                        <col style="width: 5%;">
                        <col style="width: 15%;">
                        <col style="width: auto;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">분류</th>
                            <th scope="col">제목</th>
                            <th scope="col">첨부파일</th>
                            <th scope="col">등록일자</th>
                            <th scope="col">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>서울대공원</td>
                            <td><a href="javascript:;">제목입니다.</a></td>
                            <td></td>
                            <td>2021.02.01</td>
                            <td>41</td>
                        </tr>
                    </tbody>
                </table>
                <!-- //BOARD TABLE -->
                
                <!-- PAGINATION -->
                <div class="pagination">
                    <div class="pagelist">
                        <a href="javascript:;" class="first"><span class="blind">첫페이지</span></a>
                        <a href="javascript:;" class="prev"><span class="blind">이전 페이지</span></a>
                        <ul>
                            <li class="active"><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;">5</a></li>
                        </ul>
                        <a href="javascript:;" class="next"><span class="blind">다음 페이지</span></a>
                        <a href="javascript:;" class="last"><span class="blind">마지막페이지</span></a>
                    </div>
                </div>
                <!-- //PAGINATION -->
            </main>
        </div>
    </div>

    <footer>
        <div class="wrap">
            푸터
        </div>
    </footer>
</body>
</html>