<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta
            id="viewport"
            name="viewport"
            content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
    />

    <meta name="description" content="Spring으로 백엔드 시작하기" />
    <meta name="keywords" content="Spring, 백엔드" />
    <title>Baechoo Market</title>

    <script
            src="https://kit.fontawesome.com/c67e363a33.js"
            crossorigin="anonymous"
    ></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/detail.css}" rel="stylesheet" />
</head>

<body>
<div th:replace="fragments/headerbar :: headerbar" />

<div class="container">
    <div class="wrap">
        <main>
            <div class="product-detail">
                <img  th:src="${prod.get().getPictureUrl()}"
                        src="http://cdn.011st.com/11dims/resize/600x600/quality/75/11src/pd/21/9/5/9/7/6/2/dpKgz/971959762_B.jpg"
                        class="detailImage"
                />
                <hr class="one" />
                <div id="product-overview">
                    <h2 th:text="${prod.get().getTitle()}" class="product-title" style="margin-top: 0px">
                        [리빙스타] 냄비/후라이팬
                    </h2>
                    <div class="section-bar"></div>
                    <p class="product-price" th:text="|${prod.get().getPrice()} 원|" property="schema:price">250,000원</p>

                    <section class="icon-row">
                <span th:text="|${prod.get().getLikeCount()} likes|" class="heart-icon-span"
                ><i class="far fa-heart"></i> 50 likes
                </span>
                        <span th:text="|${prod.get().getViewCount()} views|" class="view-icon-span"
                        ><i class="far fa-eye"></i> 213 views</span
                        >
                        <time th:text="${prod.get().getUpdateDate()}"> ∙ 10시간 전 </time>
                    </section>

                    <section class="button-list">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                  <span class="button-span-1"
                  ><i class="far fa-heart"></i> 좋아요</span
                  >
                        </button>

                        <!-- Modal -->
                        <div
                                class="modal fade"
                                id="exampleModal"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                                th:if="${user==null}"
                        >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            로그인 후 이용 가능합니다.
                                        </h5>
                                    </div>
                                    <div class="modal-body">바로 로그인 하시겠습니까?</div>
                                    <div class="modal-footer">
                                        <a th:href="@{/account/login}">
                                            <button type="button" class="btn btn-primary">예</button>
                                        </a>
                                        <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal"
                                        >
                                            아니요
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                            <span class="button-span-1">연락하기</span>
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            <span class="button-span-1">구매신청</span>
                        </button>
                    </section>

                    <p
                            property="schema:priceValidUntil"
                            datatype="xsd:date"
                            content="2023-02-17"
                    ></p>
                    <p
                            rel="schema:url"
                            resource="https://www.daangn.com/194308584"
                    ></p>
                    <p property="schema:priceCurrency" content="KRW"></p>
                    <br /><br />
                    <button type="button" class="btn btn-primary delete-product" th:if="${isOwner}">삭제하기</button>
                </div>
                <div class="product-buyer" th:if="${isOwner}">
                    <hr class="one" />
                    <p class="product-buyer-span">구매 신청자 목록</p>
                    <section class="button-buyer">
                        <button type="button" class="btn btn-light">
                            <span class="button-span-2"> 홍길동</span>
                        </button>
                        <button type="button" class="btn btn-light">
                            <span class="button-span-2">닉네임</span>
                        </button>
                        <button type="button" class="btn btn-light">
                            <span class="button-span-2">닉네임</span>
                        </button>
                    </section>
                </div>
                <div class="product-description">
                    <hr class="one" />
                    <p class="product-buyer-span">제품 상세 설명</p>
                    <span th:text="${prod.get().getDescription()}" class="description"
                    >열전도율이 우수하다. 가볍다. 다만, 우리가 평소에 라면 끓이는
                냄비로 알고 있는 '양은냄비'는, '양은'(구리와 아연, 니켈의
                합금)으로 만들어지지 않고, 알루미늄으로 만들어진다. 최근에
                만들어진 '양은냄비'라는 것들은 대부분 알루미늄에다 노란색 산화막
                코팅을 씌운 것으로 색깔과 질감만 양은(洋銀)과 비슷할 뿐이다.
                따라서 라면 끓일 때 쓰이는 노란색 '양은냄비'는 사실상 알루미늄
                냄비라고 봐야한다. 이러한 노란색 '양은냄비'를 금속 수세미같은
                거친 도구로 씻다보면 노란색의 산화막 코팅이 벗겨져서 하얀(?)
                금속부분이 드러나는데, 여기서 중금속(알루미늄)이 용출된다.
                사실은 벗겨지지 않은 상태에서도 중금속은 이미 용출되고 있지만,
                코팅이 벗겨지면 용출되는 속도가 빨라진다. 특히 토마토나
                양배추같은 산성 식재료나 김치, 된장같은 염분이 많은 식재료를
                넣어 끓이면, 산성과 염분에 알루미늄이 녹기 때문에 중금속이 더
                많이 용출되어 나온다. 물론 용출되어 나오는 량은 미미한 량으로
                한두번 양은냄비에 라면을 먹는다고 해서 몸에 크게 문제되지는
                않는다.</span
                    >
                </div>
            </div>
            <div class="btn-area">
                <a th:href="@{/home}">
                    <button type="button" class="btn btn-dark" >
                        <span class="button-list">목록</span>
                    </button>
                </a>
            </div>
<!--            <div class="btn-area" th:href="@{/board/list}">-->
<!--                <span class="btn-basic"><a href="javascript:;">목록</a></span>-->
<!--            </div>-->
        </main>
    </div>
</div>
<div th:replace="fragments/footer :: footer" />
</body>
</html>


<script type="text/javascript"> function list() {
    location.href="/board/list";}
</script>

<script type="text/javascript"> function login() {
    location.href="/account/login";}
</script>


