<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>게시판 - 갤러리</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="wrap">
            헤더
        </div>
    </header>
    
    <div class="container">
        <div class="wrap">
            <main>
                <!-- GALLERY LIST -->
                <div class="board-gallery">
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                    <div class="gallery-cell">
                        <a href="javascript:;" class="gallery-box">
                            <figure><img src="" alt="이미지"></figure>
                            <dl class="gallery-detail">
                                <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                <dd class="gallery-date">2021-02-03</dd>
                            </dl>
                        </a>
                    </div>
                </div>
                <!-- //GALLERY LIST -->
                
                <!-- PAGINATION -->
                <div class="pagination">
                    <div class="pagelist">
                        <a href="javascript:;" class="first"><span class="blind">첫페이지</span></a>
                        <a href="javascript:;" class="prev"><span class="blind">이전 페이지</span></a>
                        <ul>
                            <li class="active"><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;">5</a></li>
                        </ul>
                        <a href="javascript:;" class="next"><span class="blind">다음 페이지</span></a>
                        <a href="javascript:;" class="last"><span class="blind">마지막페이지</span></a>
                    </div>
                </div>
                <!-- //PAGINATION -->
            </main>
        </div>
    </div>

    <footer>
        <div class="wrap">
            푸터
        </div>
    </footer>
</body>
</html>