<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <meta name="description" content="Spring으로 백엔드 시작하기" />
    <meta name="keywords" content="Spring, 백엔드" />
    <title>Baechoo Market</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/headerbar :: headerbar" />

    <main class="container">
        <div class="wrap">
            <br>
            <h4>최근 등록된 상품</h4>
            <br>
            <ul class="product_list">
                <li th:each="product : ${products}" class="card">
                    <a href="/">
                        <div class="product_img_container">
                            <img th:src="${product.getPictureUrl()}" class="product_img" alt="제품 사진" >
                        </div>
                        <div class="card_container">
                            <p th:text="${product.title}" class="product_title">제품 이름입니다</p>
                            <p th:text="|${product.price}원|" class="product_cost"><b>제품 가격입니다.</b></p>
                            <p th:text="${product.getUploadDate()}" class="product_upload_time">올린 시간 입니다.</p>
                        </div>
                    </a>
                </li>
            </ul>
            <br>
            <!-- BOARD TABLE -->
<!--                <table class="board-normal introduce-notice-board">-->
<!--                    <caption>-->
<!--                        새소식(번호, 제목, 작성일, 조회수, 파일)-->
<!--                    </caption>-->
<!--                    <colgroup>-->
<!--                        <col style="width: 5%;">-->
<!--                        <col style="width: 15%;">-->
<!--                        <col style="width: auto;">-->
<!--                        <col style="width: 10%;">-->
<!--                        <col style="width: 10%;">-->
<!--                        <col style="width: 10%;">-->
<!--                    </colgroup>-->
<!--                    <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">번호</th>-->
<!--                            <th scope="col">분류</th>-->
<!--                            <th scope="col">제목</th>-->
<!--                            <th scope="col">첨부파일</th>-->
<!--                            <th scope="col">등록일자</th>-->
<!--                            <th scope="col">조회수</th>-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>서울대공원</td>-->
<!--                            <td><a href="javascript:;">제목입니다.</a></td>-->
<!--                            <td></td>-->
<!--                            <td>2021.02.01</td>-->
<!--                            <td>41</td>-->
<!--                        </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
            <!-- //BOARD TABLE -->

            <!-- PAGINATION -->
            <center>
                <div class="pagination">
                    <div class="pagelist">
                        <a href="javascript:;" class="first"><span class="blind">첫페이지</span></a>
                        <a href="javascript:;" class="prev"><span class="blind">이전 페이지</span></a>
                        <ul>
                            <li class="active"><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;">5</a></li>
                        </ul>
                        <a href="javascript:;" class="next"><span class="blind">다음 페이지</span></a>
                        <a href="javascript:;" class="last"><span class="blind">마지막페이지</span></a>
                    </div>
                </div>
            </center>
            <!-- //PAGINATION -->
        </div>
    </main>

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/product_list.css" />
<div th:replace="fragments/footer :: footer" />
</body>
</html>