<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>게시판 - 상세</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="wrap">
            헤더
        </div>
    </header>
    
    <div class="container">
        <div class="wrap">
            <main>
                <div class="board-view">
                    <!-- viewTitle -->
                    <div class="view-header">
                        <p class="tit">제목</p>
                        <ul>
                            <li><strong>등록일</strong>2021.01.25</li>
                            <li><strong>조회수</strong>9</li>
                        </ul>
                    </div>
                    <!-- //viewTitle -->
                    <!-- viewContent -->
                    <div class="view-body">
                        <div class="view-contents-container">
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                                본문 내용이 들어갑니다. <br>    
                            
                        </div>
                    </div>
                </div>

                <div class="prev-next-post">
                    <div class="prev-post">
                    <a href="javascript:;">
                        <strong>이전글</strong>
                        <span>이전글이 없습니다.</span>
                    </a>
                    </div>
                    <div class="next-post">
                        <a href="javascript:;">
                            <strong>다음글</strong>
                            <span>다음글이 없습니다.</span>
                        </a>
                    </div>
                </div>

                <div class="btn-area">
                    <span class="btn-basic"><a href="javascript:;">목록</a></span>
                </div>
            </main> 
        </div>
    </div>

    <footer>
        <div class="wrap">
            푸터
        </div>
    </footer>
</body>
</html>