<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class="wrap">
            헤더
        </div>
    </header>
    
    <div class="container">
        <div class="wrap">
            <aside>
                <ul>
                    <li><a href="javascript:;">개인정보</a></li>
                    <li><a href="javascript:;">장바구니</a></li>
                    <li><a href="javascript:;">구매내역</a></li>
                </ul>
            </aside>
            <main>
                <div class="box-cell">
                    <p class="tit">개인정보</p>
                    <div class="line-box">
                        <div class="tbl-box">
                            <dl>
                                <dt>이름</dt>
                                <dd>홍길동</dd>
                            </dl>
                            <dl>
                                <dt>아이디</dt>
                                <dd>abcdefg</dd>
                            </dl>
                            <dl>
                                <dt>전화번호</dt>
                                <dd>000-0000-0000</dd>
                            </dl>
                            <dl>
                                <dt>이메일주소</dt>
                                <dd>abc@naver.com</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="box-cell">
                    <p class="tit">장바구니</p>
                    <div class="board-gallery">
                        <div class="gallery-cell">
                            <a href="javascript:;" class="gallery-box">
                                <figure><img src="" alt="이미지"></figure>
                                <dl class="gallery-detail">
                                    <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                    <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                    <dd class="gallery-date">2021-02-03</dd>
                                </dl>
                            </a>
                        </div>
                        <div class="gallery-cell">
                            <a href="javascript:;" class="gallery-box">
                                <figure><img src="" alt="이미지"></figure>
                                <dl class="gallery-detail">
                                    <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                    <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                    <dd class="gallery-date">2021-02-03</dd>
                                </dl>
                            </a>
                        </div>
                        <div class="gallery-cell">
                            <a href="javascript:;" class="gallery-box">
                                <figure><img src="" alt="이미지"></figure>
                                <dl class="gallery-detail">
                                    <dt class="gallery-title">제목입니다. 제목입니다. 제목입니다. 제목입니다. 제목입니다. </dt>
                                    <dd class="gallery-contents">내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. </dd>
                                    <dd class="gallery-date">2021-02-03</dd>
                                </dl>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="box-cell">
                    <p class="tit">구매목록</p>
                    <!-- BOARD TABLE -->
                    <table class="board-normal introduce-notice-board">
                        <caption>
                            새소식(번호, 제목, 작성일, 조회수, 파일)
                        </caption>
                        <colgroup>
                            <col style="width: 6%;">
                            <col style="width: 14%;">
                            <col style="width: auto;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">분류</th>
                                <th scope="col">제목</th>
                                <th scope="col">첨부파일</th>
                                <th scope="col">등록일자</th>
                                <th scope="col">조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>서울대공원</td>
                                <td><a href="javascript:;">제목입니다.</a></td>
                                <td></td>
                                <td>2021.02.01</td>
                                <td>41</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- //BOARD TABLE -->
                </div>

            </main>
        </div>
    </div>

    <footer>
        <div class="wrap">
            푸터
        </div>
    </footer>
</body>
</html>