<html xmlns:th="http://www.thymeleaf.org">
<div id="wrap" th:fragment="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/img/logo2.PNG" alt="" width="40" height="40">
                <small class="d-block mb-3 text-muted"> BAECHOO COMPANY </small>
            </div>
            <div class="col-6 col-md">
                <h5>회사소개</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">회사 연혁</a></li>
                    <li><a class="link-secondary" href="#">회사 위치</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>채용 정보</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">프론트엔드</a></li>
                    <li><a class="link-secondary" href="#">백엔드</a></li>
                    <li><a class="link-secondary" href="#">데이터 사이언티스트</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>고객 센터</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">상담 문의</a></li>
                    <li><a class="link-secondary" href="#">카톡 문의</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
