<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org">
<div id="wrap" th:fragment="headerbar">
    <header id="header">
<!--        <div class="container">-->
            <div class="header">
                <a th:href="@{/}"><img class="logo" src="/img/logo1.PNG" alt="우리로고"  ></a>
                <ul class="quick">
                    <li><a href="#" th:href="@{/account/login}">로그인</a></li>
                    <li><a href="#" th:href="@{/account/join}">회원가입</a></li>
                </ul>
            </div>
<!--        </div>-->
    </header>
</div>
