<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head th:fragment="header">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="publisher" />
    <meta name="description" content="Spring으로 백엔드 시작하기" />
    <meta name="keywords" content="Spring, 백엔드" />
    <title>배추 마켓</title>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
</html>
