<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org">
<div id="wrap" th:fragment="headerbar">
    <header id="header">
<!--        <div class="container">-->
            <div class="header">
                <a th:href="@{/}"><img class="logo" src="/img/logo1.PNG" alt="우리로고"  ></a>
                <ul class="quick">
                    <li th:if="${nickname!=null}">
                        <strong><a th:text="${nickname}"></a></strong><a>님</a>
                    </li>
                    <li th:if="${nickname==null}">
                        <a href="#" th:href="@{/account/login}">로그인</a>
                    </li>
                    <li th:if="${nickname==null}">
                        <a href="#" th:href="@{/account/join}">회원가입</a>
                    </li>
                    <li><a href="#" th:href="@{/board/detail}">상세</a></li>
                    <li><a href="#" th:href="@{/board/list}">리스트</a></li>
                    <li th:if="${nickname!=null}">
                        <a href="#" th:href="@{/account/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
<!--        </div>-->
    </header>
</div>
