<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="wrap" th:fragment="layout">
    <header id="header">
        <div class="container">
            <div class="header">
                <a href="index.html"><img class="logo" src="/img/logo1.PNG" alt="우리로고"  ></a>
                <ul class="quick">
                    <li><a href="login.html">로그인</a></li>
                    <li><a href="join.html">회원가입</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="default"></div>
    </main>
</div>
<footer id="footer">
    <h3 class="ir"></h3>
    <div class="container">footer</div>
</footer>