<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/product_list.css" />
<link rel="stylesheet" href="/css/fontello-embedded.css" />
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/style2.css}">
<head th:replace="fragments/header :: header" />

<body>
    <header>
        <div th:replace="fragments/headerbar :: headerbar" />
    </header>
    
    <div class="mypage-container">
        <div class="wrap">
            <div class="box-cell">
                <br>
                <p class="tit">내 정보</p>
                <div class="line-box">
                    <div class="tbl-box">
                        <dl>
                            <strong><dt>닉네임</dt></strong>
                            <dd th:text="${user.getNickname()}">홍길동</dd>
                        </dl>
                        <dl>
                            <strong><dt>이메일 주소</dt></strong>
                            <dd th:text="${user.getEmail()}">abcdefg@example.com</dd>
                        </dl>
                    </div>
                </div>
            </div>


            <div class="box-cell">
                <p class="tit">좋아요한 물건</p>

                <ul class="product_list">
                    <li th:each="product : ${likedProducts}" class="card">
                        <a th:href="@{/board/detail/{id}(id=${product.productId})}">
                            <div class="product_img_container">
                                <img th:src="${product.pictureUrl}" class="product_img" alt="제품 사진" >
                            </div>
                            <div class="card_container">
                                <p th:text="${product.title}" class="product_title">제품 이름입니다</p>
                                <p th:text="|${product.price}원|" class="product_cost"><b>제품 가격입니다.</b></p>
                                <ul>
                                    <li>
                                        <p th:text="${product.uploadDate}" class="product_upload_time">올린 시간 입니다.</p>
                                        <br>
                                    </li>
                                    <li>
                            <span class="product_counts">
                                <span class="icon-eye"/><span th:text="${product.viewCount}"> 조회수</span>
                                <span class="icon-heart"/><span th:text="${product.likeCount}"> 좋아요 수</span>
                            </span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
            <div class="box-cell">
                <p class="tit">구매 신청한 물건</p>

                <ul class="product_list">
                    <li th:each="product : ${orderedProducts}" class="card">
                        <a th:href="@{/board/detail/{id}(id=${product.productId})}">
                            <div class="product_img_container">
                                <img th:src="${product.pictureUrl}" class="product_img" alt="제품 사진" >
                            </div>
                            <div class="card_container">
                                <p th:text="${product.title}" class="product_title">제품 이름입니다</p>
                                <p th:text="|${product.price}원|" class="product_cost"><b>제품 가격입니다.</b></p>
                                <ul>
                                    <li>
                                        <p th:text="${product.uploadDate}" class="product_upload_time">올린 시간 입니다.</p>
                                        <br>
                                    </li>
                                    <li>
                            <span class="product_counts">
                                <span class="icon-eye"/><span th:text="${product.viewCount}"> 조회수</span>
                                <span class="icon-heart"/><span th:text="${product.likeCount}"> 좋아요 수</span>
                            </span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>


            </div>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</body>
</html>